/*=========================================================
// File:        base.css
// Description: style models for EvalSMSI
// Created:     2009-01-01
// Licence:     GPL-3.0-or-later
// Copyright 2009-2019 Michel Dubois

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
=========================================================*/

@charset "utf-8";

@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Montserrat-Regular'), url(montserrat.woff2) format('woff2');
}

@font-face {
	font-family: Raleway;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Raleway-Regular'), url(raleway.woff2) format('woff2');
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: var(--bg0Color);
	font-family: var(--defaultFont);
	font-size: 10pt;
}

h1 {
	text-align:center;
	font-size:12pt;
}

h2 {
	text-align:center;
	font-size:12pt;
	font-weight: normal;
	letter-spacing: 2px;
	color:var(--myRedDark);
}

h3 {
	font-size:8pt;
}

h4 {
	text-align:center;
	font-size:10pt;
	font-weight: normal;
	letter-spacing: 2px;
	color:var(--myBlueDark);
}

p, ul, ol {
	text-align:left;
	font-size:8pt;
	margin-left:0px;
	padding-left:14px;
	white-space:pre-line;
}

a {
	text-align:center;
	color:var(--textDarkColor);
	font-size:10pt;
	text-decoration:none;
}

li {
	margin-bottom:8px;
	padding-left:0px;
}

fieldset {
	width: 80%;
	margin: 2px auto 30px auto;
	border-color: var(--bg2Color);
	border-radius:8px;
}

legend {
	padding-left: 5px;
	padding-right: 5px;
	border: none;
	font-size: 12pt;
	color: var(--bg2Color);
}

input, select {
	padding: 6px;
	margin: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--bg1Color);
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 10pt;
	font-family: var(--defaultFont);
}

option {
	font-family: var(--defaultFont);
}

input[type=button],
input[type=submit],
input[type=reset] {
	cursor: pointer;
}

input[type=number] {
	width: 50px;
}

input:invalid,
select:invalid,
textarea:invalid {
	border-color: var(--myRedDark);
}

input:valid,
select:valid,
textarea:valid {
	border-color: var(--bg1Color);
}

::placeholder {
	font-style: italic;
}

table {
	width: 80%;
	margin: 5px auto 5px auto;
	border-collapse: separate;
	border-spacing: 0px 2px;
}

tr {
	vertical-align: middle;
}

tr:hover,
tr:active {
	background-color: var(--myOrangeLight);
}

th {
	text-align: center;
	background: var(--bg2Color);
	color: var(--textClearColor);
	font-weight: normal;
	padding: 5px;
}

td {
	text-align: center;
	padding: 2px;
}

dl {
	font-size: 10pt;
}

dt {
	padding: 5px 0 0 0;
}

dd {
	color: var(--textDarkColor);
	padding: 0 0 5px 0;
}

.center {
	text-align: center;
}

.none {
	display: none;
}

.block {
	display: block;
}

.protected {
	background-color: #ffc7c7;
}

.modifquiz {
	width: 12%;
}

.assesssynth {
	width: 120px;
}

.fontvingt {
	font-size: 20pt;
}

textarea {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--bg0Color);
	border-radius: 5px;
	resize: none;
	outline: none;
	box-shadow: var(--shadowHover);
	font-size: 10pt;
	font-family: var(--defaultFont);
}

.pleft {
	text-align: left;
}

.row {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	padding: 10px;
}

.left {
	width: 50%;
}

.right {
	width: 50%
}

.largeleft {
	width: 70%;
}

.littleright {
	width: 30%;
}

.onecolumn {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.onecolumn dl {
	background-color: var(--bg2Color);
	padding: 10px;
}

.onecolumn dt {
	background-color: var(--myRedLight);
	color: var(--textClearColor);
	margin: 5px 0px 0px 0px;
	padding: 5px;
	font-weight: bold;
	font-size: 10pt;
}

.onecolumn dd {
	background-color: var(--myOrangeLight);
	color: var(--textDarkColor);
	margin: 0px 0px 5px 0px;
	padding: 5px 5px 5px 50px;
	font-weight: bold;
	font-size: 10pt;
}

.foot {
	width: 50%;
	border-radius: 4px;
	margin: 10px auto 50px auto;
	padding: 8px 0 8px 0;
	background-color: var(--bg1Color);
	box-shadow: var(--shadowNormal);
	text-align:center;
}

.foot.focus,
.foot:focus,
.foot:hover,
.foot.active {
	box-shadow: var(--shadowHover);
}

.foot a {
	font-size: 12pt;
	letter-spacing: 4px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--bg2Color);
	color: var(--textClearColor);
	text-align: center;
	padding: 4px 0 4px 0;
	font-size: 10px;
}

.footer a {
	color: var(--textClearColor);
	font-size: 10px;
}

.msg {
	width: 50%;
	border-radius: 4px;
	margin: 20px auto 20px auto;
	background-color: var(--bg1Color);
	box-shadow: var(--shadowNormal);
	display: table;
	border-collapse: separate;
	border-spacing: 20px 10px;
}

.menu {
	width: 90%;
	border-radius: 4px;
	margin: 20px auto 20px auto;
	background-color: var(--bg1Color);
	box-shadow: var(--shadowNormal);
	display: table;
}

.msg.focus,
.msg:focus,
.msg:hover,
.msg.active,
.menu.focus,
.menu:focus,
.menu:hover,
.menu.active {
	box-shadow: var(--shadowHover);
}

.msg div,
.menu div {
	display: table-cell;
	vertical-align: middle;
}

.msg img,
.menu img {
	padding: 5px;
	width: 70px;
}

.msg a {
	font-size: 12pt;
}

.msg p {
	font-size: 12pt;
}

.menu a {
	font-size: 14pt;
}

.visualization p {
	font-size: 10pt;
	text-align: center;
}

.authcont {
	width: 60%;
	margin: auto;
	padding: 12% 0 0 0;
	display: table;
}

.auth {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}

.auth img {
	display: block;
	width: 50%;
	margin: auto;
}

.auth form {
	width: 80%;
	margin: auto;
	padding: 45px;
	text-align: center;
	background: var(--bg2Color);
	box-shadow: var(--shadowAuth);
}

.auth input {
	background: var(--bg0Color);
	outline: 0;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px 15px 15px 40px;
	font-size: 14px;
	color: var(--textDarkColor);
}

.auth input[type=text] {
	background-image: url('../pict/user.png');
	background-position: 5px 10px;
	background-repeat: no-repeat;
	background-size: 25px auto;
}

.auth input[type=password] {
	background-image: url('../pict/cadenas.png');
	background-position: 5px 10px;
	background-repeat: no-repeat;
	background-size: 25px auto;
}

.auth input[type=submit] {
	text-transform: uppercase;
	outline: 0;
	background: var(--bg1Color);
	color: var(--textDarkColor);
	width: 100%;
	border: 0;
	padding: 15px;
	font-size: 14px;
	cursor: pointer;
	box-shadow:var(--shadowNormal);
}

.auth input:hover[type=submit],
.auth input:active[type=submit],
.auth input:focus[type=submit] {
	box-shadow:var(--shadowHover);
}

.auth p {
	margin: 0;
	padding: 0px 15px 0px 15px;
	font-size: 14px;
	text-align: center;
	color: var(--textClearColor);
}

.auth a {
	margin: 0;
	padding: 0px 15px 0px 15px;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
	text-decoration: underline;
	color: var(--textClearColor);
}

.fido2 {
	display: table;
	width: 80%;
	margin: auto;
	padding: 60px 45px 60px 45px;
	text-align: center;
	background: var(--bg2Color);
	box-shadow: var(--shadowAuth);
}

.fido2 div {
	display: table-cell;
	vertical-align: middle;
}

.fido2 img {
	padding: 5px;
	width: 70px;
}

.fido2 p {
	font-size: 12pt;
}

.fido2 a {
	text-transform: uppercase;
	background: var(--bg1Color);
	color: var(--textDarkColor);
	width: 100%;
	border: 0;
	border-radius: 4px;
	padding: 15px;
	font-size: 14px;
	cursor: pointer;
	box-shadow:var(--shadowNormal);
	text-decoration: none;
}

.help {
	width: 60px;
	margin: auto;
}

.captcha {
	vertical-align: middle;
}

.captcha img {
	display: block;
	float: left;
	width: 60%;
	margin: 0;
	padding: 10px 5px 5px 5px;
}

.captcha input {
	float: right;
	background: var(--bg0Color);
	outline: 0;
	width: 40%;
	border: 0;
	padding: 15px 5px 15px 5px;
	font-size: 14px;
	color: var(--textDarkColor);
}

.captcha input[type=text] {
	background-image: none;
}

.btnValid {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	cursor:pointer;
	padding: 2px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 2px;
	color: var(--textClearColor);
	background-color: var(--myGreenLight);
}

.btnValid.focus,
.btnValid:focus,
.btnValid:hover,
.btnValid.active {
	color: var(--textClearColor);
	background-color: var(--myGreenDark);
}

.btnWarning {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	cursor:pointer;
	padding: 2px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 2px;
	color: var(--textClearColor);
	background-color: var(--myOrangeLight);
}

.btnWarning.focus,
.btnWarning:focus,
.btnWarning:hover,
.btnWarning.active {
	color: var(--textClearColor);
	background-color: var(--myOrangeDark);
}

.btnDanger {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	cursor:pointer;
	padding: 2px;
	border-radius: 2px;
	color: var(--textClearColor);
	background-color: var(--myRedLight);
}

.btnDanger.focus,
.btnDanger:focus,
.btnDanger:hover,
.btnDanger.active {
	color: var(--textClearColor);
	background-color: var(--myRedDark);
}

.valid {
	padding: 6px;
	margin: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--bg1Color);
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	background-color: var(--textClearColor);
}

.event {
	width: 90%;
	padding: 0 6px 0 6px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--bg2Color);
	border-radius:8px;
}

.event dl {
	font-size: 9pt;
}

.event dt {
	font-weight: bold;
	padding: 4px 0 0 0;
}

.event dd {
	color: var(--textDarkColor);
	padding: 0 0 4px 0;
}

.sticky {
	position: sticky;
	top: 20px;
}

.btn_suppr {
	width: 24px;
	height: 24px;
	border:0px;
	margin:0px;
	padding:0px;
	background-color: transparent;
	background-image: url(../pict/delete.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 24px auto;
}

#a {
	background:var(--bg2Color);
	width:500px;
	margin-top:5px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}

#b {
	background-color: var(--myOrangeDark);
	height:25px;
}

#c {
	padding-top:4px;
	color:var(--textClearColor);
	font-weight:bold;
	text-align: center;
}

.assess {
	width: 100%;
	padding: 0 6px 0 6px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--bg2Color);
	border-radius:8px;
}

.assess input[type=button] {
	margin: 0;
	padding: 0;
	font-size: 8pt;
	text-align: center;
	width: 15px;
	height: 15px;
	border: none;
	font-weight: bold;
	color: var(--textClearColor);
	background-color: var(--bg2Color);
}

.assess p {
	font-size: 10pt;
}

.assess dl {
	margin-left: 4%;
	padding: 5px;
	background-color: var(--bg3Color);
}

.assess dt {
	padding: 5px 0 5px 0;
}

.assess dd {
	margin-left: 4%;
}

.assess dd.comment {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	font-size: 8pt;
	padding: 5px;
	border-left: 8px solid var(--myRedDark);
	background-color: var(--myOrangeLight);
}

.redpoint {
	margin: 0 10px 0 0;
	height: 15px;
	width: 15px;
	background-color: var(--myRedDark);
	border-radius: 50%;
	display: inline-block;
}

.orangepoint {
	margin: 0 10px 0 0;
	height: 15px;
	width: 15px;
	background-color: var(--myOrangeDark);
	border-radius: 50%;
	display: inline-block;
}

.greenpoint {
	margin: 0 10px 0 0;
	height: 15px;
	width: 15px;
	background-color: var(--myGreenDark);
	border-radius: 50%;
	display: inline-block;
}

.separation {
	border-bottom: 2px solid var(--myRedLight);
	border-right: 2px solid var(--myRedLight);
}

.vis-time-axis.vis-background {
	background-color: var(--bg0Color);
}

.vis-item,
.vis-item.vis-selected {
	border-color: var(--textDarkColor);
	background-color: var(--textDarkColor);
}

.vis-time-axis .vis-grid.vis-major {
	border-color: var(--bg1Color);
}

.vis-time-axis .vis-grid.vis-minor {
	border-color: var(--bg1Color);
}

.project {
	width: 90%;
	margin: auto;
}

.project h3 {
	margin: 0 5%;
	padding: 8px;
	text-align:left;
	font-size:10pt;
	font-weight: normal;
	letter-spacing: 2px;
	color:var(--textDarkColor);
	background: var(--bg2Color);
}

.project table {
	padding: 5px;
	border: 1px solid var(--textDarkColor);
	border-radius: 4px;
}

.project tr:nth-child(even) {
	background-color: var(--bg0Color);
}

.project tr:nth-child(odd) {
	background-color: var(--bg1Color);
}

.project tr:nth-child(even):hover,
.project tr:nth-child(even):active,
.project tr:nth-child(odd):hover,
.project tr:nth-child(odd):active {
	background-color: var(--myOrangeLight);
}

.project td {
	padding: 2px 5px;
	text-align: left;
}

.project textarea {
	padding: 20px;
	border: none;
	background: var(--bg0Color);
	box-shadow: none;
}

.grid {
	display: grid;
	width:60%;
	margin: 20px auto;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10px;
}

.grid_title {
	width:95%;
	margin: 5px auto;
	padding: 4px;
	border-radius: 5px;
	background: var(--bg1Color);
	text-align: center;
	color: var(--textDarkColor);
}

.dropper {
	width:100%;
	height:200px;
	border-radius: 4px;
	overflow-y: auto;
	border: 1px solid var(--bg1Color);
	background-color: var(--bg1Color);
	transition: all 200ms linear;
}

.drop_hover {
	box-shadow: var(--shadowHover);
}

.draggable {
	width:90%;
	margin: 5px auto;
	padding: 4px;
	border-radius: 5px;
	font-size: 11px;
	border: 1px solid transparent;
	background: var(--myBlueLight);
	user-select: none;
	transition: all 200ms linear;
	cursor: move;
}

.draggable-active {
	opacity: 0.4;
}

.draggable:focus,
.draggable:hover,
.draggable:active {
	border: 1px solid transparent;
	background: var(--myBlueDark);
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(65, 70, 75, 0.6);
}

.modal-content {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20%;
	background-color: rgba(120, 125, 130, 1.0);
	border-left-style: solid;
	border-left-width: 30px;
	border-left-color: var(--myRedDark);
	border-radius: 4px;
	padding: 20px 40px 20px 10px;
	color: var(--textClearColor);
	box-shadow: var(--shadowAuth);
	text-align: center;
	font-size: 14px;
}


.modal-content p {
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.modal-content a {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 20px 5px 20px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	border-radius: 2px;
	background-color: var(--myRedLight);
}

.modal-content a:focus,
.modal-content a:hover,
.modal-content a.active {
	color: var(--textClearColor);
	background-color: var(--myRedDark);
}

.bilan {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.bilan td {
	text-align: left;
}

.notok {
	text-align: center;
	color: var(--myRedDark);
}

.error {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 80%;
	color: var(--textClearColor);
	background-color: var(--myRedDark);
	border-radius: 0 0 5px 5px;
}

.error.active {
	padding: 10px;
}

.width25 {
	width: 25%;
}

.reco_parent {
	padding: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.reco_child {
	padding: 0px;
}

.reco {
	display: block;
	font-size: 80%;
	padding: 5px;
	color: var(--textClearColor);
	border-left: 8px solid var(--myBlueDark);
	background-color: var(--myBlueLight);
	border-radius: 2px;
}
