/*=========================================================
// File:        standard.css
// Description: style models for EvalSMSI
// Created:     2009-01-01
// Licence:     GPL-3.0-or-later
// Copyright 2009-2019 Michel Dubois

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
=========================================================*/




:root {
	--bg0Color: #ffffff;
	--bg1Color: #ffcb05;
	--bg2Color: #003da5;
	--myBlueLight: #337ab7;
	--myBlueDark: #286090;
	--myOrangeLight: #ffcb05;
	--myOrangeDark: #ffcb05;
	--myRedLight: #e56a54;
	--myRedDark: #e56a54;
	--myGreenLight: #5cb85c;
	--myGreenDark: #5cb85c;
	--textDarkColor: #444444;
	--textClearColor: #f5f7f8;
	--shadowNormal: 6px 6px 6px rgba(0, 0, 0, 0.2);
	--shadowHover: 2px 2px 2px rgba(0, 0, 0, 0.2);
	--shadowAuth: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	--defaultFont: Raleway;
}
