/*=========================================================
// File:        standard.css
// Description: style models for EvalSMSI
// Created:     2009-01-01
// Licence:     GPL-3.0-or-later
// Copyright 2009-2019 Michel Dubois

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
=========================================================*/

:root {
	--bg0Color: #eae7dc;
	--bg1Color: #d8c3a5;
	--bg2Color: #8e8d8a;
	--myBlueLight: #74b4e8;
	--myBlueDark: #51a4e8;
	--myOrangeLight: #e8b874;
	--myOrangeDark: #e8a951;
	--myRedLight: #e88074;
	--myRedDark: #e86051;
	--myGreenLight: #74e874;
	--myGreenDark: #51e851;
	--textDarkColor: #444444;
	--textClearColor: #f5f7f8;
	--shadowNormal: 6px 6px 6px rgba(0, 0, 0, 0.2);
	--shadowHover: 2px 2px 2px rgba(0, 0, 0, 0.2);
	--shadowAuth: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	--defaultFont: Raleway;
}
